@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 3, 1;
  --background-end-rgb: 5, 3, 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.body-no-scroll {
  overflow: hidden;
}

.animation-X {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.3s ease,
    transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.animation-X:nth-child(1) {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.3s ease,
    transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.animation-X:nth-child(2) {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.3s ease,
    transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 0.3s;
}

.animation-X:nth-child(3) {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.3s ease,
    transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 0.6s;
}
.animation-Y {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 0.3s ease,
    transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  color: #ffffff;
  background: radial-gradient(
    farthest-side,
    currentColor calc(100% - 6.7px),
    #0000 calc(100% - 5.6px) 0
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 14.6px),
    #000 calc(100% - 13.4px)
  );
  border-radius: 50%;
  animation: spinner-sm4bhi 2s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  background: linear-gradient(currentColor 0 0) center,
    linear-gradient(currentColor 0 0) center;
  background-size: 100% 11.2px, 11.2px 100%;
  background-repeat: no-repeat;
}

.spinner::after {
  transform: rotate(45deg);
}

@keyframes spinner-sm4bhi {
  100% {
    transform: rotate(1turn);
  }
}
